* {
    box-sizing: border-box;
}
.container {
    display: flex;
    margin: 20px;
}
.search-text{
    width: 200px;
    height: 27px;
    font-size: 14px;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    

}
.text-note{
    color: red
}
