    * {
        box-sizing: border-box;
        font-family: Helvetica, Arial, sans-serif;
    }

    body {
        font-size: 16px;
    }
    
    .container {
        display: flex;
        padding: 40px;
        justify-content: space-between;
    }

    .textInput {
        width: 250px;
        padding: 4px 8px;
        border: 1px solid rgb(0, 0, 0);
    }

    .textArea {
        height: 125px;
        margin: 20px 0;
    }
    
    .search-text {
        height: 34px;
        font-size: 14px;
    }
    
    .search-Btn {
        width: 137px;
        height: 32px;
        padding: 0px 10px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 6px;
        background-color: rgb(230, 230, 230);
    }
    
    .paragraphBox {
        position: relative;
        width: 327px;
        height: 100px;
        padding: 4px 8px;
        margin-bottom: 25px;
        border: 1px solid rgb(0, 0, 0);
    }
    
    .closingBtn {
        position: absolute;
        top: -1px;
        right: -1px;
        border: 1px solid rgb(0, 0, 0);
        background: white;
    }

    .filter {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    .filter input {
        width: 25px;
        height: 25px;
    }

    .drp_menu {
        width: 150px;
        height: 35px;
    }