* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
/* .main-container{
    width: 1535px;
    height: 1040px;
} */
.container {
    display: flex;
    margin: 40px; /* use padding here. Margin is needed when you want to move one element from another */
    justify-content: space-between;
}
/* .textArea  .search-text have almost identical properties. One element can have multiple classes. 
    Common logic should be shared in common class for these inputs
*/
.textArea{
    width: 250px;
    height: 125px;
    padding: 4px 8px;
    margin: 20px 0;
    border: 1px solid rgb(0, 0, 0);
    /* border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0); */
}
.search-text{
    width: 250px;
    height: 33.75px;
    padding: 4px 8px;
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0);
    /* border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0); */
}
.search-Btn{
    width: 137.5px;
    height: 31.75px;
    font-size: 16px;
    padding: 0px 10px;
    border: 1px; /* border online property */
    border-radius: 6px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(230, 230, 230);
}
.paragraphBox {
    width: 327.5px;
    height: 100.5px;
    padding: 4px 8px;
    margin-bottom: 25px;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
  }
  .closingBtn {
    position: relative; /* it is relative to your current position. You shoul use absolute and parent element should be position relative */
    /* you can use top and right properties after that top: 0; right: 0 */
    bottom: 5.5px; 
    left: 295.5px;
    border: 1px;  /* border shorthand */
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background: white;
  }
 #drop{
    position: relative;
    height: 33.75px;
    width: 182px;
    font-size: 100%;
 }